.jobs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.job-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 0 6px 10px 0 rgba(0, 0, 0, 0.14),
      0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  }
}

.job-image {
  min-width: 100%;
  max-width: 100px;
  object-fit: contain;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 12px;

  .job-action-edit {
    cursor: pointer;
    font-size: 14px;
    padding: 6px;
    border-radius: 5px;
  }
}

.job-title {
  font-size: 18px;
}

.job-info {
  margin: 12px;
}

.job-label {
  font-weight: bold;
  font-size: 16px;
}

.job-footer {
  margin: 24px;
}

.job-form {
  margin-bottom: 48px;
}

.job-form-subtitle,
.checkbox-group {
  margin-left: 15px;
}

.Input {
  margin: 12px;
}
